@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*grijs #899CA0 en donkergroen #1C2B32*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #899CA0;
}

a:hover {
    text-decoration: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: "Poppins", sans-serif;
}


/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;

}

.header-container {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;

}

.header-container h1 {
    font-size: 50px;
}

.header-container p {
    font-size: 8px;

}


.header-left-button {
    border: #1C2B32 1px solid;
    border-radius: 25px 0 0 25px;
    margin: 20px 0 10px 0;
    padding: 15px 70px 15px 20px;
    background-color: transparent;
    font-size: 12px;

}

.header-right-button {
    margin-left: -6px;
    border: #1C2B32 1px solid;
    border-radius: 0 25px 25px 0;
    padding: 15px 20px 15px 20px;
    background-color: #1C2B32;
    color: white;
    font-size: 12px;
}

/*///////////// 3.2 Testimonial /////////////*/
main {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.testimonials {
    margin: 40px auto;

}

.main-testimonials {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #D8DCE0;
    padding: 30px 100px;
    text-align: left;
    margin: 40px auto;
    font-size: 12px;
    width: 100%;
    position:relative;
}

.italic {
    font-style: italic;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 20px 20px 20px 0;
}

.main-testimonials figcaption, .avatar {
    display: inline-block;
    vertical-align: middle;
}
.quote-image {
    position: absolute;
    top: 30px;
    left: 50px;
}
/*///////////// 3.3 Support /////////////*/
.support {
    text-align: left;
}

.support img {
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
}

.support p {
    text-align: left;
}

.support h2 {
    margin: 20px auto;
    text-align: center;
}

.support-button {
    border: #1C2B32 1px solid;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    background-color: #1C2B32;
    color: white;
    font-size: 12px;
    margin: 10px 0;
}

/*///////////// 3.4 Faq /////////////*/
.faq h2 {
    margin: 40px auto;
}

details {
    text-align: left;

}

.faq p {
    border: 0 solid #1C2B32;
    border-radius: 10px;
    background-color: #899CA0;
    padding: 25px;
    color: white;
    margin: 10px 0;
}

details:hover {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/