@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/
/*grijs #899CA0 en donkergroen #1C2B32*/


/*////////////////////////
    1. Global Styles
////////////////////////*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body{
    font-family: "Poppins", sans-serif;
}


/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/



/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/